{{{html}}}

<div class="container">
{{#eachFragment '#box'~}}
<div class="box bg{{mod 4}} {{class}}" {{{box-style}}}>{{{html}}}</div>
{{/eachFragment}}
</div>

<div class="credit">{{{credit}}}{{{fragmentHtml '#copyright'}}}</div>
