<div class="container">
<div class="box bg3 {{class}}" {{{box-style}}}>{{{html}}}</div>
{{#eachFragment "#box"~}}
<div class="box bg{{mod 5}} {{class}}" {{{box-style}}}>{{{html}}}</div>
{{/eachFragment}}
</div>

<div class="credit">{{{credit}}}{{{fragmentHtml '#copyright'}}}</div>

<nav id="nav">
<ul><li>{{menu}}
<ul>
{{#eachPage~}}
<li>{{{pageLink}}}</li>
{{/eachPage~}}
</ul>
</li></ul>
</nav>
