<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{{{metaSeo}}}
{{{injectCss}}}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<title>{{title}}</title>
</head>
<body>

{{{renderPage}}}

<script type="text/javascript" charset="utf-8">
var pageLinks = [{{#eachPage~}}"{{pageHref}}",{{/eachPage~}}];
</script>
{{{injectJs}}}
</body>
</html>
